.cart-container {
  max-width: 1200px;
  margin: 100px auto 0;
  padding: 20px;
}

.cart-title {
  text-align: center;
  margin-bottom: 50px;
}

.cart-content {
  display: flex;
  gap: 30px;
}

.cart-items {
  flex: 2;
}

.cart-items-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 2px solid #e2dede;
  color: #49557E;
  font-size: max(1vw, 12px);
}

.cart-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #f0f0f0;
  color: black;
}

.cart-item-details {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-item-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
}

.cart-item-counter {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 80px;
  justify-content: center;
}

.cart-counter-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cart-item-counter p {
  margin: 0;
  min-width: 20px;
  text-align: center;
}

.cart-item-remove {
  background: none;
  border: none;
  color: #ff4d4d;
  cursor: pointer;
  font-size: 18px;
}

.cart-summary {
  flex: 1;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.cart-summary-details {
  margin-bottom: 20px;
}

.cart-summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
}

.cart-summary-row.total {
  font-weight: bold;
  font-size: 1.2em;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.checkout-button {
  width: 100%;
  padding: 15px;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background-color: black;
}

.cart-promocode {
  margin-top: 20px;
}

.cart-promocode p {
  color: #555;
}

.cart-promocode-input {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.cart-promocode-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #eaeaea;
  outline: none;
}

.cart-promocode-input button {
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-promocode-input button:hover {
  background-color: #007B9A;
}

.cart hr {
  height: 1px;
  background-color: #e2e2e2;
  border: none;
  margin: 10px 0;
}

@media (max-width: 750px) {
  .cart-content {
      flex-direction: column-reverse;
      gap: max(12vw, 20px);
  }

  .cart-promocode {
      justify-content: start;
  }

  .cart-items-header {
      font-size: 12px;
  }
}